{% extends "base.html" %}

{% block title %}{{ action }} Task{% endblock %}

{% block content %}
<div class="container">
    <h1 class="center-align">{{ action }} Task</h1>
    <div class="row">
        <form class="col s12" method="post">
            {% csrf_token %}
            <div class="input-field col s12">
                <input type="text" name="title" id="title" value="{{ task.title|default_if_none:'' }}" required>
                <label for="title">Title</label>
            </div>
            <div class="input-field col s12">
                <textarea id="description" name="description" class="materialize-textarea" required>{{ task.description|default_if_none:'' }}</textarea>
                <label for="description">Description</label>
            </div>
            <div class="input-field col s12">
                <button type="submit" class="btn waves-effect waves-light">{{ action }} Task</button>
                <a href="{% url 'task_list' %}" class="btn-flat waves-effect">Back to List</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
