{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A simple To Do List Manager to create, list, and mark tasks as done" />
    <meta name="author" content="Vivek Kumar" />

    <title>
      {% block title %}
        ToDoList
      {% endblock %}
    </title>

    <!-- Materialize CSS and Icons -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

    <!-- Extra Head -->
    {% block extra_head %}
      <!-- Add extra head here -->
    {% endblock extra_head %}
  </head>

  <body>
    <header class="container">
      <h1 class="center-align">To Do List Web Application</h1>
      <p class="flow-text center-align">A Simple To Do List Manager to create, list and mark tasks as done</p>
      <hr />
    </header>

    {% block content %}
      <!-- Add main content here -->
    {% endblock %}

    <footer class="developer-credit">
      <h3 class="center-align">
        Developed By:
        <a href="https://github.com/vickvey" target="_blank">Vivek Kumar</a>
      </h3>
    </footer>

    <!-- Materialize JS and custom scripts -->
    <script src="{% static 'js/materialize.min.js' %}" defer></script>
    {% block script %}
      <!-- Add scripts here -->
    {% endblock %}
  </body>
</html>
