{% extends "base.html" %}

{% block title %}Confirm Delete{% endblock title %}

{% block content %}
<main class="container">
    <div class="card-panel red lighten-4">
        <h1 class="center-align">Are you sure you want to delete "{{ task.title }}"?</h1>
        <div class="center-align">
            <form method="post" class="inline-form">
                {% csrf_token %}
                <button type="submit" class="btn red waves-effect waves-light">Confirm Delete</button>
            </form>
            <a href="{% url 'task_list' %}" class="btn-flat waves-effect">Cancel</a>
        </div>
    </div>
</main>
{% endblock content %}
