{% extends "base.html" %}

{% block content %}
<main class="container">
  <h1 class="center-align">Task List</h1>
  <a href="{% url 'task_create' %}" class="btn">Add New Task</a>
  <div class="row">
    <ul class="collapsible">
      {% for task in tasks %}
      <li>
        <div class="collapsible-header">
          <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
        </div>
        <div class="collapsible-body">
          <!-- Collapsible body content here, if needed -->
          <div class="task-actions">
            <a href="{% url 'task_update' task.id %}" class="btn-small">Edit</a>
            <form
              action="{% url 'task_delete' task.id %}"
              method="post"
              style="display: inline"
            >
              {% csrf_token %}
              <button type="submit" class="btn red">Mark As Done</button>
            </form>
          </div>
        </div>
      </li>      
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock content %}

{% block script %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".collapsible");
    M.Collapsible.init(elems); // Initialize collapsible
  });
</script>
{% endblock script %}
